* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.219);
}

h1 {
    text-align: center;
    font-size: 3em;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    /*border: 1px solid red;*/    
    margin: auto auto;
}

input {
    height: 120px;
    font-size: 2em;
    width: 80%;
    padding-left: 10%;
}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    /* height: 120px; */
    border-radius: 0px 10px 10px 0px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid blue; */
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
}

.material-symbols-outlined {
    flex: 20%;
    /* border: 1px solid orangered; */
    text-align: center;
    margin: 0%;
    padding:;
}

.item-nome {
    flex: 55%;
    /* border: 1px solid deeppink; */
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
    /* border: 1px solid green; */
}

.delete {
    background-color: red;    
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}